.app-header {
	position: sticky; top: 0; z-index: 100;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 20px;
	align-items: center;
	padding: 10px;
	background: var(--bg);
	height: 35px;
}

.brand { display: flex; align-items: center; justify-content: center; gap: 12px; }
.brand .logo { font-size: 2rem; }
.brand-title { 
	font-size: 2rem;  
	color: var(--text-inverse-bg);
	text-decoration: none;
}

.app-main {
	display: flex;
	height: calc(100vh - 110px);
	gap: 30px;
}

.app-sidebar {
	position: sticky; top: 0; z-index: 100;
	display: flex; flex-direction: column;
	width: 150px;
	min-height: 100%;
	padding: 20px;
	background: var(--bg);
}

.sidebar-link {
	display: block; 
	color: var(--text-inverse-bg);
	text-decoration: none;
	font-size: 1rem;
	padding: 20px;
	margin: 5px;
}

.sidebar-link:hover, .sidebar-link.active {
	background: var(--bg-soft);
	border-radius: var(--radius);
}

.content { display: grid; gap: 20px; }

.btn {
	background: var(--bg-soft);
	color: var(--text-inverse-bg);
	border: 1px solid var(--bg-soft);
	border-radius: 4px;
	padding: 5px 5px;
	cursor: pointer;
}
.btn:hover { 
	background: var(--bg-soft); 
	color: var(--text-inverse-bg);
	border-color: var(--bg-soft);
}
.btn.primary { background: var(--primary); border-color: var(--primary-600); }
.btn.primary:hover { background: var(--primary-600); }
.btn.secondary { background: var(--accent); border-color: #2c7ec4; color: #10141a; }
.btn.small { padding: 6px 10px; font-size: 0.6rem; }

.form-grid { display: grid; gap: var(--gap-2); }
.form-field { display: grid; gap: 6px; }
.form-field input,
.form-field select,
.form-field textarea {
  	-webkit-appearance: none;
  	-moz-appearance: none;
	appearance: none;
	background: var(--surface);
  	color: var(--text);
  	border: 1px solid var(--border);
  	border-radius: var(--radius-sm);
  	padding: 10px 10px;
}
