.game-stats-modal { 
    position: fixed; 
    inset: 0; 
    display: none; 
}

.game-stats-modal[aria-hidden="false"] { 
    display: grid; 
    place-items: start;
    z-index: 2; 
}

.game-stats-modal-backdrop { 
    position: absolute; 
    inset: 0; 
    background: rgba(0,0,0,0.5); 
}

.game-stats-modal-content { 
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    margin: 2.5%;
    background: var(--bg-modal); 
    border: 1px solid var(--border); 
    border-radius: var(--radius-lg); 
    box-shadow: var(--shadow-1);
    overflow: hidden;
}

.game-stats-modal-header {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    padding: 8px; 
    background: var(--bg); 
}

.game-stats-header-blank {
    width: 2%;
}

.game-stats-header-team {
    width: 38%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.game-stats-header-score {
    width: 20%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.game-stats-modal-body {
    max-height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.stats-container.row{
    display: flex;
    flex-direction: row;
}

.stats-container.column{
    display: flex;
    flex-direction: column;
}

.stats-team-switch-container {
    display: flex;
    flex: row;
    gap: 1rem;
} 

.stats-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1rem;
    gap: 5px;
}

.stats-header-container {
    display: flex;
    transition: background-color 0.3s ease-in-out;
    width: min-content;
}

.stats-detail-container {
    display: flex;
    transition: background-color 0.3s ease-in-out;
    width: min-content;
}

.stats-detail-container:hover{
    background-color: var(--bg-soft);
    cursor: pointer;
}

.stats-detail-container.selected {
    background-color: var(--bg-soft);
    cursor: none;
}

.stats-detail {
    font-size: 1rem;
    color: #003318;
    text-align: center;
    width: 3rem;
}

.stats-detail.bold {
    font-weight: bold;
    color: #003318;
}

.stats-detail.L {
    width: 7rem;
    text-align: left;
}

.stats-detail.XS {
    width: 2rem;
    text-align: center;
}

.stats-team-container {
    display: flex;
    transition: background-color 0.3s ease-in-out;
    width: min-content;
}

.stats-team-container:hover {
    background-color: var(--bg-soft);
    cursor: none;
}

.stats-player-detail-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stats-player-selection {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
}

.stats-court {
    width: 100%;
    flex-grow: 1;
}

