.modal { 
    position: fixed; 
    inset: 0; 
    display: none; 
}

.modal[aria-hidden="false"] { 
    display: flex; 
    place-items: center;
    justify-content: center;
}

.modal-backdrop { 
    position: absolute; 
    inset: 0; 
    background: rgba(0,0,0,0.8); 
}

.modal-backdrop.action { 
    position: absolute; 
    inset: 0; 
    background: rgba(0,0,0,0.2); 
}

.modal-content { 
    position: relative;
    width: max(500px, 50vw); 
    background: var(--bg-modal); 
    border: 1px solid var(--border); 
    border-radius: var(--radius-lg); 
    box-shadow: var(--shadow-1);
    overflow: hidden;
}

.modal-content.right {
    left: 13%;
    max-width: 40%;
}

.modal-content.left {
    left: 51%;
    max-width: 40%;
}

.modal.action {
    z-index: 5;
    justify-content: flex-start;
 }

.modal-header, .modal-footer {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 8px; 
    background: var(--bg); 
}

.modal-body {
    max-height: 100%;
    padding: 16px;
}

h2 {
    font-size: 1.5rem;
    color: var(--text-inverse-bg);
    margin: 10px;;
}

label {
    display: block;
    align-content: center;
    color: var(--text-highlight);
 }

 .form-field-player-check {
     display: flex;
     gap: 10px;
     font-size: 0.9rem;
     justify-content: space-between;
     align-items: center;
 }

.checkbox-label-space {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox-label-space input {
    appearance: auto;
}

.info-container.action {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    gap: 10px;
}