.playerMiniCard {
    display: block; 
    font-size: 1rem;
    color: white;
    text-decoration: none ;
    padding: 10px;
    background-color: var(--primary);
    border: 1px solid white;
    border-radius: 5px;
    height: 20px;
    width: 150px;
}

.namesList {
    display: flex;
    flex-flow: row wrap;
}