.content {
    display: flex;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.playersIndex {
    margin-top: 30px;
    width: 70%;
}

@media (max-width: 768px) {
    .playersIndex {
        width: 50%;
    }
}

.playerMiniCard {
    display: flex; 
    font-size: 1rem;
    color: var(--text-inverse-bg);
    text-decoration: none ;
    background-color: var(--bg-soft);
    border: 1px solid white;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.playerMiniCard:hover, .playerMiniCard.active {
    background-color: white;
    color: var(--bg-soft);
    border-color: var(--bg-soft);
}
.namesList {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}